body{
    margin: 0 auto;
    padding: 0;
    background: #FFEFBA;
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    font-family: sans-serif;
    color: whitesmoke;
    cursor: default;
}

.main{
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
    height: 90vh;
    width: 70vw;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    border-radius: 20px;
}


.childOne{
    background-color: transparent;
    height: 9em;
    width: auto;
    padding-top: 3px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
}
.childOne p{
    padding-top: 35px;
}



.childTwo{
    background-color: transparent;
    height: 20em;
    border-radius: 20px;
}
.childTwo button{
    height: 70px;
    width: 150px;
    margin: 10px;
    background-color: red;
    color: whitesmoke;
    border: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    position: absolute;
    display: none;
}
.childTwo button:hover{
    background-color: transparent;
    border: 3px solid red;
}
#one{
    left: 15em;
}
#two{
    left: 23em;
    display: inline-block;
}
#three{
    right: 16em;
}
#four{
    left: 15em;
    top: 13em;
}
#five{
    color: whitesmoke;
    display: inline-block;
    background-color: green;
    border: none;
    top: 13em;
    left: 23em;
}
#five:hover{
    background-color: transparent;
    border: 3px solid green;
}
#six{
    top: 13em;
    right: 16em;
}
#seven{
    left: 15em;
    top: 17em;
}
#eight{
    top: 17em;
    left: 23em;
}
#nine{
    top: 17em;
    right: 16em;
}


@media only screen and (max-width: 1024px) and (min-width: 968px) {
    #one{
        left: 9em;
    }
    #two{
        left: 16em;
        display: inline-block;
    }
    #three{
        right: 10em;
    }
    #four{
        left: 9em;
        top: 13em;
    }
    #five{
        top: 13em;
        left: 16em;
    }
    #six{
        top: 13em;
        right: 10em;
    }
    #seven{
        left: 9em;
        top: 16em;
    }
    #eight{
        top: 16em;
        left: 16em;
    }
    #nine{
        top: 16em;
        right: 10em;
    }
    .childTwo button{
        height: 60px;
        width: 140px;
        font-size: 25px;
    }
  }


/* Laptop small */

  @media only screen and (max-width: 967px) and (min-width: 768px) {
    #one{
        left: 8em;
    }
    #two{
        left: 15em;
        display: inline-block;
    }
    #three{
        right: 7em;
    }
    #four{
        left: 8em;
        top: 14em;
    }
    #five{
        top: 14em;
        left: 15em;
    }
    #six{
        top: 14em;
        right: 7em;
    }
    #seven{
        left: 8em;
        top: 17em;
    }
    #eight{
        top: 17em;
        left: 15em;
    }
    #nine{
        top: 17em;
        right: 7em;
    }
    .childTwo button{
        height: 60px;
        width: 130px;
        font-size: 23px;
    }
  }



/* Mobile large-length */

  @media only screen and (max-width: 425px) and (min-width: 375px){
    body{
        background: #FFEFBA;
    }
    .main{
        height: 950px;
        width: 700px;
        margin-left: 17px;
    }
    
    .childOne{
        height: 10em;
        font-size: 32px;
    }
    .childOne p{
        font-size: 45px;
    }


    .childTwo{
        height: 25em;
    }
    .childTwo button{
        height: 100px;
        width: 170px;
        font-size: 50px;
    }
    #one{
        left: 1em;
    }
    #two{
        left: 5em;
        display: inline-block;
    }
    #three{
        left: 9em;
    }
    #four{
        left: 1em;
        top: 10em;
    }
    #five{
        top: 10em;
        left: 5em;
    }
    #six{
        top: 10em;
        left: 9em;
    }
    #seven{
        left: 1em;
        top: 13em;
    }
    #eight{
        top: 13em;
        left: 5em;
    }
    #nine{
        top: 13em;
        left: 9em;
    }
  }



/* Mobile */

  @media only screen and (max-width: 374px) and (min-width: 319px){
    body{
        background: #FFEFBA;
    }
    .main{
        height: 950px;
        width: 525px;
        margin-left: 4px;
    }
    
    .childOne{
        height: 10em;
        font-size: 25px;
    }
    .childOne p{
        font-size: 38px;
    }


    .childTwo{
        height: 25em;
    }
    .childTwo button{
        height: 80px;
        width: 150px;
        font-size: 40px;
    }
    #one{
        left: 1em;
    }
    #two{
        left: 5em;
        display: inline-block;
    }
    #three{
        left: 9em;
    }
    #four{
        left: 1em;
        top: 10em;
    }
    #five{
        top: 10em;
        left: 5em;
    }
    #six{
        top: 10em;
        left: 9em;
    }
    #seven{
        left: 1em;
        top: 13em;
    }
    #eight{
        top: 13em;
        left: 5em;
    }
    #nine{
        top: 13em;
        left: 9em;
    }
  }